{% extends 'base.html.twig' %}
{% block body %}

<table>
    <thead>
    <tr>
       <th>Titre</th>
       <th>Année</th>
       <th>Poster</th>
       <th>Réalisateur</th>
    </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                {{ title }}
            </td>
            <td>
                {{ year }}
            </td>
            <td>
                <img src="{{ image_base_url }}{{ poster }}" width="150px" height="auto" />
            </td>
            <td>
                {{ director }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
